#logo_and_title{
    width: 400px;
    height: 120px;
    text-align: center;
    padding-left: 37%;
    padding-top: 2%;
}
/*-----------Navigator---------*/
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 18%;
    overflow: hidden;
    background-color: white;
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    background-color: white;
}
li a:hover {
    color: #a777b5;
}


/*----------*/

#intro{
    width: auto;
    height: 600px;
    background-color:#e8dded;
}
#intro_text{
    width: 540px;
    height: 300px;
    background-color: #f3e6f7;
}

#learn_more{
    font-weight: bold;
    color:black;
}
#learn_more:hover{
    color:#a777b5;
}


/*--------------Connect Bar------------*/
#connect_bar{
    height: 260px;
    background-color: #bfa0c8;
}

#connect_bar_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:white;
    padding-top: 4%;
}
#connect_bar_content{
    text-align: center;
    color:white;
}


/*--------------Login-------------------*/
.login_container{
    /* background: url('jack-finnigan-M9EctVUPrp4-unsplash.jpg') no-repeat center center fixed; */

    height: 640px;
    /* background-color: #f3e6f7; */
    /* padding: 50px; */
    /* background-color: azure; */
}

.login_form{
    width: 540px;
    height: 540px;
    /* border: 2px solid red; */
    margin:20px auto;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: 5px;

}
.login_form_header p{
    font-size: 28px;
    font-weight: bold;
    color:#864a98;
    text-align: center;
    padding: 40px; 
}

.login_form input{
    /* padding: 10px; */
    height: 50px;
    width: 360px;
    border: 0px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}
.login_confirm button{
    height: 44px;
    width: 240px;
    background-color: #bfa0c8;
    color: white;
    border: 0px;
    margin-top: 45px;
    font-size: 18px;
    border-radius: 5px;


}
.login_create button{
    height: 44px;
    width: 240px;
    background-color: #bfa0c8;
    border: 0px;
    margin-top: 20px;
    font-size: 18px;
    color:white;
    margin-bottom: 40px;
    border-radius: 5px;

}

#hint_text{
    margin-top: 20px;
}
#hint_text p{
    color: #bfbfbf;
}


/*-------------Signup-----------------*/

.singup_container{
    /* background: url('jack-finnigan-M9EctVUPrp4-unsplash.jpg') no-repeat center center fixed; */

    height: 1000px;
    /* background-color: #f3e6f7; */
    /* padding: 50px; */
    /* background-color: azure; */
}
.singup_form{
    width: 600px;
    height: 800px;
    /* border: 2px solid red; */
    margin:20px auto;
    padding-top: 40px;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: 5px;

}
.singup_form p{
    font-size: 18px;
    font-weight: bold;
    color:#864a98;
    text-align: center;

}

.singup_form input{
    /* padding: 10px; */
    height: 50px;
    width: 350px;
    border: 0px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.singup_form select {
    height: 50px;
    width: 360px;
    border: none;
    margin-top: 10px;
    font-size: var(--fs-400);
    border-radius: 5px;

}
.singup_create button{
    height: 44px;
    width: 360px;
    background-color: #bfa0c8;
    border: 0px;
    margin-top: 40px;
    font-size: 18px;
    color:white;
    margin-bottom: 30px;
    border-radius: 5px;

}


/*--------------Home------------------*/

#home_login_btn{
    height: 100px;
    width: 800px;
    margin-left: 26%;
    margin-top: 4%;
}
#home_login_btn_table{
    width: 540px;
    padding-top: 4%;
    margin-left: 36%;
}
#home_login_btn{
    width: 200px;
    height: 40px;
    color: #864a98;
    border: 0px;
}
#home_facility{
    background-color: #f3f3f3;
    height: 300px;
    width: 800px;
    margin-left: 26%;
    margin-top: 6%;
}

#home_facility_table{
    width: 540px;
    padding-top: 4%;
}
#home_facility_table td{
    width: 300px;
}

#home_facility_pic{
    width: 150px;
    padding-left: 54%;
    padding-top: 26%;
}
#home_facility_btn_div{
    width: 240px;
    height: 60px;
    padding-left: 44%;
    padding-top: 10%;
}

#home_facility_btn{
    width: 200px;
    height: 40px;
    color: white;
    border: 0px;
    background-color: #bfa0c8;
}
#home_facility_content{
    width: 400px;
    padding-left: 44%;
    padding-top: 6%;
}

/*--------------About------------------*/

#title_about{
    width: auto;
    height: 100px;
    background-color:#e8dded;
}

#title_about_content{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 1.5%;
}
#about_content_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:#864a98;
    padding-top: 3%;
}
#about_content_paragraph{
    text-align: center;
    width: 800px;
    padding-left: 26%;
    padding-top: 1.5%;
}
#mission_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:#864a98;
    padding-top: 4%;
}
#mission_table{
    padding-left: 22%;
    padding-top: 2%;
    padding-bottom: 4%;
}
#mission_button{
    width: 160px;
    height: 40px;
    color: white;
    border: 0px;
    background-color: #bfa0c8;
}

/*--------------Sponsors---------------*/
#title_sponsors{
    width: auto;
    height: 100px;
    background-color:#e8dded;
}

#title_sponsors_content{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 1.5%;
}
#sponsors_content_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:#864a98;
    padding-top: 3%;
}
#sponsors_content_paragraph{
    text-align: center;
    width: 800px;
    padding-left: 26%;
    padding-top: 1.5%;
}

#sponsors_rotaryclub{
    background-color: #f3f3f3;
    height: 400px;
    width: 800px;
    margin-left: 26%;
    margin-top: 6%;
}

#sponsors_rotaryclub_table{
    width: 540px;
    padding-top: 4%;
}
#sponsors_rotaryclub_table td{
    width: 300px;
}

#sponsors_rotaryclub_pic{
    width: 150px;
    padding-left: 54%;
    padding-top: 40%;
}
#sponsors_rotaryclub_btn_div{
    width: 160px;
    height: 60px;
    padding-left: 44%;
    padding-top: 6%;
}

#sponsors_rotaryclub_btn{
    width: 160px;
    height: 40px;
    color: white;
    border: 0px;
    background-color: #bfa0c8;
}
#sponsors_rotaryclub_title{
    width: 270px;
    color:#864a98;
    font-weight: bold;
    font-size: 24px;
    padding-left: 68%;
    padding-top: 8%;
}
#sponsors_rotaryclub_content{
    width: 400px;
    padding-left: 44%;
}

#sponsors_bakermckenzie{
    background-color: #f3f3f3;
    height: 400px;
    width: 800px;
    margin-left: 26%;
    margin-top: 4%;
}
#sponsors_bakermckenzie_table{
    width: 540px;
    padding-top: 4%;
    padding-right: 4%;
}
#sponsors_bakermckenzie_table td{
    width: 300px;
}
#sponsors_bakermckenzie_pic{
    width: 150px;
    padding-left: 54%;
    padding-top: 20%;
}
#sponsors_bakermckenzie_btn_div{
    width: 160px;
    height: 60px;
    padding-left: 44%;
    padding-top: 6%;
}

#sponsors_bakermckenzie_btn{
    width: 160px;
    height: 40px;
    color: white;
    border: 0px;
    background-color: #bfa0c8;
}
#sponsors_bakermckenzie_title{
    width: 270px;
    color:#864a98;
    font-weight: bold;
    font-size: 24px;
    padding-left: 58%;
    padding-top: 8%;
}
#sponsors_bakermckenzie_content{
    width: 400px;
    padding-left: 44%;
}

#sponsors_anu{
    background-color: #f3f3f3;
    height: 400px;
    width: 800px;
    margin-left: 26%;
    margin-top: 4%;
}
#sponsors_anu_table{
    width: 540px;
    padding-top: 4%;
    padding-right: 4%;
}
#sponsors_anu_table td{
    width: 300px;
}
#sponsors_anu_pic{
    width: 150px;
    padding-left: 54%;
    padding-top: 20%;
}
#sponsors_anu_btn_div{
    width: 160px;
    height: 60px;
    padding-left: 44%;
    padding-top: 6%;
}

#sponsors_anu_btn{
    width: 160px;
    height: 40px;
    color: white;
    border: 0px;
    background-color: #bfa0c8;
}
#sponsors_anu_title{
    width: 270px;
    color:#864a98;
    font-weight: bold;
    font-size: 24px;
    padding-left: 80%;
    padding-top: 8%;
}
#sponsors_anu_content{
    width: 400px;
    padding-left: 44%;
}


/*----------------contact--------------*/

#title_contact{
    width: auto;
    height: 100px;
    background-color:#e8dded;
}

#title_contact_content{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 1.5%;
}

#contact_content{
    height: 400px;
}
#contact_content_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:#864a98;
    padding-top: 3%;
}
#contact_content_paragraph{
    text-align: center;
    width: 800px;
    padding-left: 26%;
    padding-top: 1.5%;
    padding-bottom: 3%;
}


/*------------loneliness------------*/

#title_loneliness{
    width: auto;
    height: 100px;
    background-color:#e8dded;
}

#title_loneliness_content{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 1.5%;
}
#loneliness_content_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:#864a98;
    padding-top: 3%;
}
#loneliness_content_paragraph{
    width: 800px;
    padding-left: 26%;
    padding-top: 1.5%;
    padding-bottom: 3%;
}

/*--------------wisdom----------------*/

#title_wisdom{
    width: auto;
    height: 100px;
    background-color:#e8dded;
}

#title_wisdom_content{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 1.5%;
}
#wisdom_content_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color:#864a98;
    padding-top: 3%;
}
#wisdom_content_paragraph{
    width: 800px;
    padding-left: 26%;
    padding-top: 1.5%;
    padding-bottom: 3%;
}

/*--------------FAQ----------------*/

#title_FAQ{
    width: auto;
    height: 100px;
    background-color:#e8dded;
}

#title_FAQ_content{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 1.5%;
}

#FAQ_content{
    height: 400px;
}